{% extends 'base.html' %}

{% block title %}
    My To Do List
{% endblock title %}


{% block content %}
<h3><a href="{% url 'task-create' %}">Add Task</a></h3>

<form method="GET">
    <input type="text" name='search-area' value="{{search_input}}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Item</th>
    </tr>

    {% for task in tasks %}
    
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'details' task.id %}">Detail</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>
{% endblock content %}